@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);

.decode-text {
  width: 100%;
  font-size: 7vh;
  text-align: center;
}

.space {
  display: inline-block;
  width: 10px;
}

.decode-text>div {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
}

.text-animation {
  color: transparent;
}

.text-animation:before {
  content: "";
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  background: black;
  width: 0;
  height: 1.2em;
  -webkit-transform: translate(-50%, -55%);
  -ms-transform: translate(-50%, -55%);
  transform: translate(-50%, -55%);
}

.text-animation.state-1:before {
  width: 3px;
}

.text-animation.state-2:before {
  width: 0.9em;
}

.text-animation.state-3 {
  color: black;
}

.text-animation.state-3:before {
  width: 0;
}

#refresh {
  position: absolute;
  top: -3em;
  left: -1.5em;
  cursor: pointer;
}

div {
  font-family: "Share Tech Mono", monospace;
}

body {
  height: 100vh;
  align-items: center;
  display: flex;
  overflow: hidden;
  background-color: #f9f9f9;
}

#bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  /* height: auto; */
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
  background-size: cover;
  filter: contrast(25%) brightness(156%);
  height: 100%;
}
